<marquee direction="right"  bgcolor="green">Make Your Business Digitalized</marquee>
<br/>

<form align="center"  class="text-center border border-light p-5">
    <diV>
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
    </diV>
    <br/>
    <div>
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
    </div>
      <br/>
    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Please Specify Your Requirements"></textarea>
    </div>
    <br/>

          <button type="submit" class="btn btn-primary">Submit</button>

          <!--<button type="button" class="btn btn-danger">Danger</button>
-->
</form>

