<form class="text-center border border-light p-5">
 
  <p class="h4 mb-4">Make Your Business Digitized
  </p>

    <diV>
      <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
    </diV>
    
    <div>
        <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
    </div>

    <div class="form-group">
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Please Explain Your Requirements"></textarea>
    </div>
          <button mdbBtn color="info" block="true" type="submit">Send</button>
</form>
