<html lang="en"> 
<body> 
    <div class="container"> 
        <div class="text"> 
            <h1>Digitize Your Business</h1> 
        </div> 
        <form>
        <div class="your-input"> 
            <div class="input"> 
                <input type="text" name="Name" 
                    id="Name" required /> 
                <label for="Name">Name</label> 
            </div> 
            <div class="input"> 
              <input type="text" name="email" 
                  id="email" required /> 
              <label for="email">Email</label> 
            </div> 
            <div class="input"> 
              <input type="text" name="Please Specify Your Requirements" 
                  id="Please Specify Your Requirements" required /> 
              <label for="Please Specify Your Requirements">Please Specify Your Requirements</label> 
            </div> 
        </div> 
        <br/>   
            <button type="submit">Submit</button>
      </form>
    </div> 
</body> 
</html> 